<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Мебельные фасады МДФ эмаль">
    <meta name="keywords" content="мебельные, фасады, мдф, фрезеровки, витрины, стёкла, элементы">
    <title>Мебельные фасады МДФ эмаль</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="bg">
        <header class="main-header">

            <div class="main-header-top">
                <h1 class="site-description">Мебельные фасады МДФ эмаль</h1>
                <div class="main-header__button"><button class="main-header__button__link" type="button">Заказать звонок</button></div>
            </div>
    
    <div class="main-header-top2">

        <a class="logo" href="#">
            <img class="logo__image" src="assets/img/logo.svg" width="169" height="84" alt="Логотип ООО 'Монте-групп'">
        </a>

    <div class="header-info">
        <p class="header-info__working-hours"><span class="bg--yellow">Время работы: 9.00 - 18.00</span></p>
        <p class="header-info__number">+375 (44) 794-71-24</p>
    </div>

    
    <ul class="header-user-block">
        <li>
            <a class="header-user-block__link" href="">
            <span class="icon-login"></span>
            Войти
        </a>
        </li>
        
        <li>
            <a class="header-user-block__link" href="">
            <span class="icon-logout"></span>
            Выйти
        </a>
        </li>

        <li>
            <a class="header-user-block__link" href="">
            <span class="icon-basket"></span>
            Корзина
        </a>
        </li>
    </ul>
    
    </div>
    
            <nav class="main-header-middle">
                <ul class="nav-site">
                    <li class="nav-site__item"><a class="nav-site__link" href="#">Главная</a></li>
                    <li class="nav-site__item"><a class="nav-site__link" href="#">Каталог</a></li>
                    <li class="nav-site__item"><a class="nav-site__link" href="#">О нас</a></li>
                    <li class="nav-site__item"><a class="nav-site__link" href="#">Новости</a></li>
                    <li class="nav-site__item"><a class="nav-site__link" href="#">Контакты</a></li>
                </ul>
            </nav>
            
            <div class="main-header-bottom">
                <input class="search" type="text" placeholder="Я ищу ..."> 
                <a class="search-icon" href="#">
                    <h3 class="visually-hidden">Искать</h3>
                </a>
            </div>

        </header>
    </div>


    <main class="container">

        <section class="category">
            <h2 class="visually-hidden">Категории товаров</h2>
            <ul class="category">
                <li class="category__item">
                    <a class="category__link" href="#">
                        <h3 class="category__item__title">Фрезеровки</h3>
                        <img class="category__img" src="assets/img/category/frezerovky.jpg" alt="Фрезеровки" width="380" height="207">
                    </a>
                    
                </li>
                <li class="category__item">
                    <a href="#">
                        <h3 class="category__item__title">Витрины</h3>
                        <img class="category__img" src="assets/img/category/vitriny.jpg" alt="Витрины" width="380" height="207">
                    </a>
                </li>
                <li class="category__item">
                    <a href="#">
                        <h3 class="category__item__title">Стёкла</h3>
                        <img class="category__img" src="assets/img/category/steklo.jpg" alt="Стёкла" width="380" height="207">
                    </a>
                </li>
                <li class="category__item slider  category__item--height">
                    <a href="#">
                        <h3 class="visually-hidden">Слайдер</h3>
                        <img class="category__img" src="assets/img/slider/slider.jpg" alt="Слайдер" width="775" height="385">
                    </a>
                </li>
                <li class="category__item category__item--height">
                    <a href="#">
                        <h3 class="category__item__title">Элементы</h3>
                        <img class="category__img" src="assets/img/category/elements.jpg" alt="Слайдер" width="380" height="394">
                    </a>
                </li>
            </ul>

        </section>




<section class="new-product">
    <header class="new-product__header">
            <h2 class="new-product__title">Новинки:</h2>
            <a class="new-product__header__link" href="#">Каталог товаров</a>
    </header>

<ul class="new-product__items">
    <li class="new-product__item">
        <a class="new-product__link" href="#">
           <div class="new-product__img--container"><img class="new-product__img" src="assets/img/new-product__items/bonn1.jpg" alt="Фото нового товара"></div> 
            <h3>Бриз 2
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam autem quis temporibus exercitationem blanditiis laudantium veniam, et nihil voluptatem libero ab sint velit, consectetur aperiam praesentium? Accusamus ut natus maiores?
            </h3>
        </a>
    </li>
    <li class="new-product__item">
        <a class="new-product__link" href="#">
            <div class="new-product__img--container">
                <img class="new-product__img" src="assets/img/new-product__items/bonn1_type1.jpg" alt="Фото нового товара">
            </div>
            <h3>Матильда

            </h3>
            </a>
    </li>
    <li class="new-product__item">
        <a class="new-product__link" href="#">
            <div class="new-product__img--container">
            <img class="new-product__img" src="assets/img/new-product__items/bonn1_type2.jpg" alt="Фото нового товара">
        </div>
            <h3>Майами
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ipsa suscipit quidem tenetur quasi illum, eos, 
                dolorum dicta, consectetur porro vero ab. Necessitatibus maxime autem nemo at, aut placeat veniam?
            </h3>
            </a>
    </li>
    <li class="new-product__item">
        <a class="new-product__link" href="#">
            <div class="new-product__img--container">
            <img class="new-product__img" src="assets/img/new-product__items/bonn1_type3.jpg" alt="Фото нового товара">
        </div>
            <h3>Малага
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla dolores sed enim et maxime aut totam placeat error perspiciatis asperiores quos ad architecto est, ducimus beatae, hic, neque nostrum vitae.
            </h3>
            </a>
    </li>

</ul>
</section>

<section class="news">
    <header class="news__header">
        <h2 class="news__title">Новости:</h2>
        <a class="news__header__link" href="#">Все новости</a>
    </header>

    <ul class="news__items">
        <li class="news__item">
            <div class="news__item__img--container">
                <a href="#"><img class="news__item__img" src="assets/img/news/image1.jpg" alt="Фото новости 1"></a>
            </div>
            
            <time datetime="2020-09-23" class="news__item__time">25 мая 2020</time>
            <h3 class="news__item__title">
                <a href="#">Сегодня мы запустили новый...
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, debitis earum hic tempora est repellat facilis vel magnam quibusdam pariatur voluptatum quaerat magni dolor ratione, reprehenderit harum, provident maiores suscipit.</a>
            </h3>

        </li>
        <li class="news__item">
            <div class="news__item__img--container">
            <a href="#"><img class="news__item__img" src="assets/img/news/image2.jpg" alt="Фото новости 2" width="380"></a>
        </div>
            <time datetime="2020-09-23" class="news__item__time">25 мая 2020</time>
            <h3 class="news__item__title">
                <a href="#">Сегодня мы запустили новый...</a>
            </h3>
        </li>
        <li class="news__item">
            <div class="news__item__img--container">
            <a href="#"><img class="news__item__img" src="assets/img/news/image3.jpg" alt="Фото новости 3" width="380"></a>
        </div>
            <time datetime="2020-09-23" class="news__item__time">25 мая 2020</time>
            <h3 class="news__item__title">
               <a href="#">Сегодня мы запустили новый...</a> 
            </h3>
        </li>
    </ul>

</section>
    </main>

